# Required to read the config file
PyYAML

# Optional performance boost for the cache
simplejson

# http mocking for unit tests
httpretty

# id3 plugin needs this, but it doesn't work in python 3.3
#stagger
